body {
    font-size: 14px;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 700;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
}



.main-container {
    background-color: hsl(30, 38%, 92%);
    padding-top: 40px;
    padding-bottom: 40px;
}

.holder-container {
    height: 50%;
    width: 70%;
    background-color: white;
    border-radius: 10px;

}

.col {
    padding-left: 0;
    padding-right: 0;
}


.description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
}


.preview {
    color: hsl(158, 36%, 37%);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.item-description {
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
}

.new-price {
    display: inline;
    font-size: 3rem;
    font-size: 700;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);

}

.old-price {
    display: inline;
    text-decoration: line-through;
}

button {
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 2%;
    border: 0px;
    border-radius: 4px;
}

@media (max-width:767px) {
    .desktop-img {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-img {
        display: none;
    }
}
